workflows/data-ingestion.json
{
  "name": "Data Ingestion into Vectordb Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        -32
      ],
      "id": "82688938-73cc-4597-b361-ff18f9953591",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "chatbot-database-2",
          "mode": "list",
          "cachedResultName": "chatbot-database-2"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        96,
        0
      ],
      "id": "00aa6ab5-6928-40ab-8659-3f3bd3b9d929",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "osCnNv2KU6x9NcXS",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        176
      ],
      "id": "fd50a342-f387-484c-abff-93f15f35bd09",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "cnhNrdgyyGlBhwng",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{$json.text}}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "policy_type",
                "value": "privacy"
              },
              {
                "name": "document_name",
                "value": "privacy_policy"
              },
              {
                "name": "version",
                "value": "2025-12"
              },
              {
                "name": "source",
                "value": "privacy_policy_page"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        224,
        176
      ],
      "id": "ff8272d5-54c4-4cac-9110-470d57ee0ee1",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        384,
        320
      ],
      "id": "dc933d65-4e18-49d2-83b8-f9c625a8bf65",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "url": "https://trovinest.com/Privacy%20Policy.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -400,
        176
      ],
      "id": "c87f6a66-cc66-4e44-989f-69d382b0b329",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -192,
        176
      ],
      "id": "ec26727e-9e53-4f99-a9f0-472e41b51731",
      "name": "Extract from File"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "734042d2-20e0-475a-9e71-07ccdb2ce7ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a9f0cc489764b1aee93b196131eab67c544e040835be520c6733e2a935cacaa2"
  },
  "id": "KtZfIp8hF0YbJNZAToX6i",
  "tags": []
}